<!-- Code adapted and modified from https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main -->

<!-- customers.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="media-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Media ID</th>
            <th>Title</th>
            <th>Type ID</th>
            <th>Type</th>
            <th>Creator ID</th>
            <th>Creator</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.mediaID}}>
            <td>{{this.mediaID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.typeID}}</td>
            <td>{{this.typeName}}</td>
            <td>{{this.creatorID}}</td>
            <td>{{this.creatorName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/customers.hbs -->
<h2>Add a Media Item</h2>
<p>To add a new media item, please enter the information below and click `Submit`</p>
<form id="add-media-form" method="POST" action="/add-media-form">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title-html" placeholder="Media Title" required>

    <!--Dropdown for typeID which shows type names-->
    <label for="input-type">Media Type: </label>
    <select name="input-type" id="input-type-ajax" required>
        <option value="">Select a Media Type</option>
        {{#each types}}
        <option value="{{this.typeID}}">{{this.typeName}}</option>
        {{/each}}
    </select>

    <!--Dropdown for creatorID which shows creator names-->
    <label for="input-creator">Creator: </label>
    <select name="input-creator" id="input-creator-ajax" required>
        <option value="">Select a Creator</option>
        {{#each creators}}
        <option value="{{this.creatorID}}">{{this.creatorName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>